:root {
    --bg-main: #323437;
    --header: #4c4e52;
    --page-main: #64676b44;
    --title: #818080;
    --tt-tbg: #505050;
    --tt-title: #969696;
    --tt-dbg: #3d3f42;
    --tt-des: #818080;

    --article-h: #b6b6b6;
    --article-p: #aaaaaa;
}

html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #3f3f3f;
}

::-webkit-scrollbar-thumb {
    background-color: #616161;
    border-radius: 20px;
    border: 3px solid #3f3f3f;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: #323437;
    margin-top: 80px;
    text-align: center;
    color: #818080;
    padding-top: 25px;
    font-size: 0.7em;
}

.footer a {
    color: #6a8abb;
}

#cont-main {
    box-sizing: content-box;
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
}

#cont-main::-webkit-scrollbar {
    display: none;
}

#main {
    position: relative;
    box-sizing: content-box;
    padding-top: 35vh;
    background: var(--page-main);
    overflow-y: scroll;
}

#main::-webkit-scrollbar {
    display: block;
    width: 0px;
}

.article {
    width: 90%;
    margin: auto 5%;
    background-color: #363639;
    border-radius: 20px;
    padding: 40px;
    opacity: 0.8;
    margin-top: 50px;
}

#healthcare {
    padding-top: 15px;
}

.article h1 {
    color: var(--article-h);
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    /* font-weight: 400; */
}

.article h2 {
    color: #c0c0c0;
    font-family: 'Play', sans-serif;
    margin-top: 30px;
}

.article h2 + p {
    color: #8f8f8f;
    margin-top: 20px;
    font-family: 'Play', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.4em;
}

.article p {
    color: var(--article-p);
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.4em;
}

.article img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    opacity: 0.7;
}

#checkup h1, h2 {
    font-family: 'Play', sans-serif;
}

.article ul {
    margin: 20px 0;
    /* background-color: red; */
    padding-left: 20px;
}

ul li {
    font-family: 'Play', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #aaaaaa;
}

.world-stats {
    border-radius: 20px;
    overflow: hidden;
}

.news {
    margin: 7.5px 0;
    background-color: var(--header);
    background: linear-gradient(90deg, var(--header) 0%, rgba(54,54,57,1) 100%);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100%;
    padding: 20px 20px;
    transition-duration: 300ms;
}

.news:hover {
    margin-left: 5px;
}

.news-section {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    color: var(--tt-des);
}

.news-url {
    display: inline;
    font-weight: 400;
    font-size: 1.1em;
    color: #8c94e2;
    text-decoration: none;
}

.news-title {
    display: block;
    color: #b9b9b9;
    line-height: 1.6em;
    font-size: 1.4em;
    font-weight: 700;
    text-decoration: none;
}

.news-details {
    display: block;
}

.news-date {
    display: inline;
    color: #919191;
}

.news-description {
    display: inline;
    color: #c2c2c2;
}

.bg-canvas {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--bg-main);
}

#move-top {
    position: fixed;
    bottom: 3vh;
    left: -100%;
    width: 60px;
    height: 60px;
    background-color: #252525;

    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 15;
    opacity: 0.7;
    cursor: pointer;
    transition-duration: 200ms;

    background-image: url("https://img.icons8.com/external-those-icons-lineal-those-icons/96/dddddd/external-up-arrows-those-icons-lineal-those-icons.png");
    background-position-y: center;
    background-position-x: 40%;
    background-repeat: no-repeat;
    background-size: 40% 40%;
}

#move-top:hover {
    /* background-repeat: repeat-y; */
    /* background-position-y: 100%; */
    animation-name: move-top-anim;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move-top-anim {
    0% {
        background-position-y: 30%;
    }
    50% {
        background-position-y: 70%;
    }
    100% {
        background-position-y: 30%;
    }
}

#tl-label {
    position: fixed;
    overflow: hidden;
    top: 3%;
    left: -100%;
    z-index: 12;
    border: 0.1em solid #66686b;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) .9s;
}

#tl-label div {
    /* box-sizing: content-box; */
    padding: 5px 10px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
}

#tl-label .tll-title {
    width: 100%;
    line-height: 1.5em;
    font-size: 1em;
    text-align: center;
    background-color: var(--tt-tbg);
    color: var(--tt-title);
}

#tl-label .tll-des {
    width: 100%;
    line-height: 1.5em;
    font-size: 1em;
    text-align: center;
    background-color: var(--tt-dbg);
    color: var(--tt-des);
}

.fade-anim {
    animation-name: fade-animation;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes fade-animation {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.hexagon-container {
    position: absolute;
    box-sizing: content-box;
    left: 55%;
    top: 13%;
    z-index: 10;
}

.hexa-line {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 69vh;
    overflow-y: visible;
    /* background-color: var(--white); */
    z-index: 8;
    border-bottom: 0.7vh solid var(--header);
}

/* Hexagon using clip-path */
.hexagon {
    position: relative;
    width: 12.5em;
    height: 13.75em;
    background: var(--header);
    margin: 0px -0.4em -0.4em 0px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 10;
    /* transition: 1s; */
}

.hexagon .hexxagon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 210px;
    background-color: var(--bg-main);
    margin: 0px -5px -5px 0px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 10;
    transition: ease-in-out 200ms;
}

.hexxagon:hover {
    transition: 0s;
    background: #44444444;
    cursor: pointer;
}

.hexxagon .hex-icon svg {
    position: absolute;
    width: 40%;
    height: auto;
    top: 30%;
    left: 30%;
    transition: ease-in-out 200ms;
    /* filter: grayscale(1); */
}

.hexxagon:hover .hex-icon svg {
    width: 50%;
    left: 25%;
    top: 25%;
}

.hex-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hex-tooltip {
    position: absolute;
    z-index: 10;
    right: 100%;
    top: 0;
    width: 100px;
    height: 200px;
    background-color: var(--title);
}

.hex-row {
    position: relative;
    display: flex;
    margin-top: -54px;
}

.hex-row:first-child {
    margin-top: 0px;
    padding-left: 196px;
}

.hex-row:nth-child(even) {
    padding-left: 99px;
}

.hl-heading {
    position: absolute;
    left: 10%;
    bottom: 0%;
    font-size: 4em;
    width: fit-content;
    font-family: 'Play', sans-serif;
    color: var(--title);
    user-select: none;
    font-weight: 700;
}

.hl-heading:focus {
    outline: none;
}