:root {
    --bg-main: #323437;
    --header: #4c4e52;
    --page-main: #64676b44;
    --title: #818080;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

header {
    display: block;
    width: 100vw;
    height: 9%;
    overflow-x: hidden;
    background: var(--header);
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: white;
    margin-right: 0.6em;
}

::-webkit-scrollbar-thumb {
    background-color: #0b7f9c;
    border-radius: 1.2em;
    border: 0.4em solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

#cont-main {
    box-sizing: content-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#main {
    position: relative;
    box-sizing: content-box;
    padding-top: 31vh;
    width: 100%;
    height: 100%;
    background: var(--page-main);
}

#bg-canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--bg-main);
}

.hexagon-container {
    position: absolute;
    box-sizing: content-box;
    left: 55%;
    top: 13%;
    z-index: 10;
}

.hexa-line {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 69vh;
    overflow-y: visible;
    /* background-color: var(--white); */
    z-index: 8;
    border-bottom: 0.7vh solid var(--header);
}

/* Hexagon using clip-path */
.hexagon {
    position: relative;
    width: 12.5em;
    height: 13.75em;
    background: var(--header);
    margin: 0px -0.4em -0.4em 0px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 10;
    /* transition: 1s; */
}

.hexagon .hexxagon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 210px;
    background-color: var(--bg-main);
    margin: 0px -5px -5px 0px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 10;
    transition: ease-in-out 200ms;
}

.hexxagon:hover {
    transition: 0s;
    background: #44444444;
}

.hexxagon .hex-icon svg {
    position: absolute;
    width: 40%;
    height: auto;
    top: 30%;
    left: 30%;
    transition: ease-in-out 200ms;
    /* filter: grayscale(1); */
}

.hexxagon:hover .hex-icon svg {
    width: 50%;
    left:25%;
    top: 25%;
}

.hex-row {
    position: relative;
    display: flex;
    margin-top: -54px;
}

.hex-row:first-child {
    margin-top: 0px;
    padding-left: 196px;
}

.hex-row:nth-child(even) {
    padding-left: 98.75px;
}

.hl-heading {
    position: absolute;
    left: 10%;
    bottom: 0%;
    font-size: 3vw;
    width: fit-content;
    font-family: 'Play', sans-serif;
    color: var(--title);
}

.hl-heading:focus {
    outline: none;
}